body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
	font-family: clear sans, helvetica neue, Arial, sans-serif;
    font-weight: 700;
	background-color: #EFEDEE;
	overflow: hidden;
	--font-size: calc(6.5vw / 5 * 9);
}



main-container {
	display: block;
    position: relative;
	margin: 12vh 5vw;
	width: 90vw;
	height: 90vw;
}
@media (min-aspect-ratio: 5/9) {
	main-container {
		margin: 12vh auto;
		width: 50vh;
		height: 50vh;
	}
	body {
		--font-size: 6.5vh;
	}
}
board-container {
	display: inline-block;
	margin-top: calc(2.3 * var(--font-size));
}
board {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	user-select: none;
}
board-render, board-input {
	position: absolute;
	height: 100%;
	width: 100%;
}
board-row {
    display: flex;
    height: 20%;
}
board-input board-cell {
	border-color: transparent;
}
board-cell {
    display: flex;
	position: relative;
    width: 20%;
    border: solid 1px;
	border-radius: 20%;
    box-sizing: border-box;
    line-height: auto;
    font-size: var(--font-size);
    align-items: center;
    justify-content: center;
	transition: border-radius 0.05s ease-in-out;
}
board board-cell.connected_-1_0 {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
board board-cell.connected_1_0 {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
board board-cell.connected_0_-1 {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
board board-cell.connected_0_1 {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

board-input {
	visibility: none;
}
board-input board-cell {
	cursor: grab;
}

score-container {
	display: block;
	position: absolute;
	font-size: calc(0.3 * var(--font-size));
	background-color: #FBF7D5;
	border: solid calc(0.15 * var(--font-size)) grey;
	padding: calc(0.15 * var(--font-size));
	border-radius: calc(0.3 * var(--font-size));
	margin-left: auto;
	text-align: center;
	width: calc(1.75 * var(--font-size));
	right: 0;
}
score {
	font-size: calc(0.75 * var(--font-size));
	display: block;
}