body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
	font-family: clear sans, helvetica neue, Arial, sans-serif;
    font-weight: 700;
	background-color: var(--global-bg);
	overflow: hidden;
	--font-size: calc(6.5vw / 5 * 9);
	--global-bg: #EFEDEE;
}



main-container {
	display: block;
    position: relative;
	margin: 16vh 5vw;
	width: 90vw;
	height: 90vw;
}
@media (min-aspect-ratio: 5/9) {
	main-container {
		margin: 16vh auto;
		width: 50vh;
		height: 50vh;
	}
	body {
		--font-size: 6.5vh;
	}
}
board-container {
	display: inline-block;
	margin-top: calc(1.9 * var(--font-size));
}
board {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	user-select: none;
}
board-render, board-input {
	position: absolute;
	height: 100%;
	width: 100%;
}
board-row {
    display: flex;
    height: 20%;
}
board-input board-cell {
	border-color: transparent;
}
board-cell {
	display: flex;
	position: relative;
	width: 20%;
}
board-render board-cell::before {
    content: "";
	display: flex;
	color: rgba(0, 0, 0, calc(255 * clamp(var(--val), 0, 1)));
	margin: 5%;
	width: 100%;
    border: solid 1px black;
	border-radius: 20%;
	background-color: var(--bg);
	transition: border-radius 0.05s ease-in-out, margin 0.05s ease-in-out, border 0.05s ease-in-out, padding 0.05s ease-in-out, background-color 0.25s ease-in-out;
}
board-render board-cell-inner {
	display: flex;
	position: absolute;
    align-items: center;
	justify-content: center;
	font-size: calc(var(--font-scale, 1) * var(--font-size));
	transition: color 0.25s ease-in-out;
    height: 100%;
    width: 100%;
}
/* board-cell {
    display: flex;
	position: relative;
    width: 20%;
    border: solid 1px;
	border-radius: 20%;
    box-sizing: content-box;
    line-height: auto;
    font-size: var(--font-size);
    align-items: center;
    justify-content: center;
	transition: border-radius 0.05s ease-in-out, margin 0.05s ease-in-out, border 0.05s ease-in-out, padding 0.05s ease-in-out;
	margin: 1%;
} */
board-render board-cell.connected_-1_0:before {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
	border-bottom: 0;
}
board-render board-cell.connected_1_0:before {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 0;
	border-top: 0;
}
board-render board-cell.connected_0_-1:before {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: 0;
	border-right: 0;
}
board-render board-cell.connected_0_1:before {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-left: 0;
	border-left: 0;
}
board-render board-cell.connected_-1_0.connected_0_-1:after,
board-render board-cell.connected_-1_0.connected_0_1:after,
board-render board-cell.connected_1_0.connected_0_-1:after,
board-render board-cell.connected_1_0.connected_0_1:after {
	content: "";
	display: block;
	position: absolute;
	background-color: var(--global-bg);
	width: 5%;
	height: 5%;
	border: solid 1px black;
}
board-render board-cell.connected_-1_0.connected_0_-1:after {
    border-bottom: 0;
    border-right: 0;
    border-top-left-radius: 100%;
    right: 0;
    bottom: 0;
}
board-render board-cell.connected_-1_0.connected_0_1:after {
    border-bottom: 0;
    border-left: 0;
    border-top-right-radius: 100%;
    bottom: 0;
}
board-render board-cell.connected_1_0.connected_0_-1:after {
    border-top: 0;
    border-right: 0;
    border-bottom-left-radius: 100%;
    right: 0
}
board-render board-cell.connected_1_0.connected_0_1:after {
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 100%;
}

board-input board-cell {
	cursor: grab;
}

reset-container, score-container, name-container {
	display: block;
	position: absolute;
	font-size: calc(0.25 * var(--font-size));
	background-color: #FBF7D5;
	border: solid calc(0.1 * var(--font-size)) grey;
	padding: calc(0.15 * var(--font-size));
	border-radius: calc(0.3 * var(--font-size));
	margin-left: auto;
	text-align: center;
    height: calc(0.9 * var(--font-size));
	user-select: none;
}
score-container {
	width: calc(1.4 * var(--font-size));
	right: 1%;
}
reset-container {
	width: calc(0.9 * var(--font-size));
	right: calc(2.2 * var(--font-size));
	cursor: pointer;
}
reset-container > svg {
    height: calc(0.5 * var(--font-size));
	margin-top: calc(0.1 * var(--font-size));
	margin-left: calc(0.02 * var(--font-size));
}
name-container {
	width: calc(3.3 * var(--font-size));
	left: 1%;
	cursor: pointer;
	display: block;
	position: absolute;
    overflow: hidden;
}
score, name {
	margin-top: calc(0.05 * var(--font-size));
	font-size: calc(0.5 * var(--font-size));
	display: block;
    white-space: nowrap;
}